body{
    margin:0;
}/*重置body的margin使网页顶到浏览器四边，另外"*"是通识符，可以代表所有标签*/
.box1{
    padding:5%
}
.box2{
    float: left;
    padding: 25% 0 0 0;/*此处应与width值相同，块才能成为正方形*/
    margin: 5% 0 0 5%;
    width: 25%;/*此处应与paddiing值相同，块才能成为正方形*/
    background: rgb(255,166, 0);
    border-radius: 10px;
}